body{
    background-color: #ffffffe1;
    font-family: Arial, sans-serif;

}

.container{
    perspective: 800px;
}

.container p {
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.container p:hover {
    transform: rotateY(45deg);
}